
body{
    max-height: 900px;
    max-width: 1440px;


}

ul {
    list-style-type: none;
}
button{
    border: none;
    outline: none;
    cursor: pointer;
}
a{
    cursor: pointer;
}
h2{

    font-family: 'Baloo Bhai 2';
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;

}
li a{
    font-family: 'Baloo Bhai 2';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
    opacity: 0.3;
    text-decoration: none;
}
.courses-list__sorting-checked{
    opacity: 1;
}
.user-time-statistic__sorting-type__checked{
    opacity: 1;
}
.container{
    display: grid;
    grid-template-areas: "aside main";
    grid-template-columns: minmax(100px, 10%) minmax(83%, auto);
    gap: 3%;
    justify-content: space-around;
    height: 98vh;
    position: sticky;


}
.sidebar{
    height: 92vh;
    background-color: #000000;
    display: grid;
    grid-template-rows: 10% 85%;
    grid-row-gap: 10%;
    border-radius: 23px;
    padding: 4% 0;
    align-items: center;
    box-shadow: 1.5vw 1vh 1.5vw rgba(180, 180, 180, 0.7);
    margin-top: 14%;
    margin-left: 32px;


}
.sidebar__logo{
    margin-top: 15%;
    margin-left: 35%;


}
.sidebar__logo a img{
    max-width: 50%;

}
.sidebar-nav{
    display: grid;
    grid-template-rows: 60% 20% ;
    grid-row-gap: 20%;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.sidebar-nav div a img:hover{
    transform: rotate(720deg) scale(1.2);
    transition: 1.2s;
    text-shadow: 2px 2px 4px white, 0 0 2em whitesmoke, 0 0 0.3em snow;
}
.sidebar-nav div a img:active{
    transform: scale(1.3);
    text-shadow: 2px 2px 4px white, 0 0 2em whitesmoke, 0 0 0.3em snow;
    transition: 0.2s;
}

.sidebar-nav-general{
    display: grid;
    grid-template-rows: repeat(5 , 10%) ;
    grid-row-gap: 6%;
    margin-left: 39%;

}
.sidebar-nav-exit{
    margin-left: 39%;
}

.sidebar__nav-link{
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;

}
.sidebar-nav a img{
    width: 30%;
}

.main{
    display: grid;
    grid-template-columns: 52% 36%;
    grid-column-gap: 4%;
    max-height: 100vh;
    overflow: hidden;
}
.courses{
    display: grid;
    grid-template-rows: 23% 12% 63%;
    max-height: 100vh;
    gap: 1%;

}
.welcome-user{
    margin-top: 5%;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #F5F5F7;
    border-radius: 1.4rem;
    position: relative;
}
.welcome-user__text{
    width: 70%;
    display: grid;
    grid-template-rows: 30% 30%;
    margin: 35px 20px 20px 40px;
    letter-spacing: 0;

}
.welcome-user__text h1{
    font-family: 'Baloo Bhai 2';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
}
.welcome-user__text p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.welcome-user__img{
    width: 40%;
    position: absolute;
    height: 12em;
    right: 5.9em;
    bottom: 0.1em;
}
.welcome-user__img img{
    width: 70%;
    position: absolute;
    height: 12em;
    right: 0.5em;
    bottom: 0;
}

.slider__current-course{
    display: grid;
    grid-template-columns: 81% 18%;
    gap: 1%;
}

.slider__current-course__first{
    display: grid;
    grid-template-columns: 15% 31.3% 10% 30%;
    grid-column-gap: 2px;
    gap: 5%;
    background-color: #F5F5F7;
    border-radius: 1rem;
    height: 78%;
    margin-top: auto;
    margin-bottom: auto;


}
.slider__current-course__first__icon{
    background: #FFFFFF;
    border-radius: 12px;
    max-height: 64px;
    width: 64px;
    margin-top: 0.6em;
    margin-left: 0.6em;
    text-align: center;

}
.slider__current-course__first__icon img{
    width: 60%;
    position: center;
    margin-top: 20%;
}
.slider__current-course__first__text{
    font-family: 'Baloo Bhai 2';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1px;
    margin-top: 8px;
    letter-spacing: 0;
    text-align: left;
}
.slider__current-course__first__text h1{
    font-size: 1.2rem;
}
.slider__current-course__first__text p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 1px;
    color: #000000;

}
.slider__current-course__first__progress p{
    width: 50%;
    margin-top: 32%;
    font-size: 15px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;

}
.slider__current-course__first__progress{
    background-image: url("../additional_files/img/progress.png");
    background-size: 80%;
    background-position: 23% 12%;
    background-repeat: no-repeat;
    margin-top: 30%;

}

.button-continue{
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0em;
    color: #FFFFFF;
    width: 7.5rem;
    height: 2.8rem;
    background-color: #000000;
    border-radius: 0.8rem;
    margin: auto;
}
.button-continue:hover{
    transform: scale(1);
    background-color: white;
    color: black;
    border: black solid;
}
.button-continue:active{
    transform: scale(0.8);
    opacity: 0.9;
    background-color: white;
    color: black;
    border: black solid;
}
.slider__current-course_slider-control{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: start;
    align-items: start;

}
.button__slider-control{
    border-radius: 100%;
    margin: auto;
    justify-content: center;

}
.slider__current-course_slider-control a:hover{
    transform: scale(1);

}
.slider__current-course_slider-control a:active{
    transform: scale(0.8);
    opacity: 0.9;


}
.button__slider-control img{
    width: 40px;
    margin: auto;

}

.courses-list{
    display: grid;
    grid-template-areas: "topic"
                          "list";
    grid-template-rows: 15% 85%;
    gap: 5%;
}
.courses-list__sorting ul{
    display: grid;
    width: 75%;
    grid-template-columns: repeat(4, auto);
    padding: 0;
}
.courses-list__current-list{
    display: grid;
    grid-template-rows: repeat(5, 80px);
    gap:4%;
    width: 100%;
}

.courses-list__current-list__item{
    display: grid;
    grid-template-columns: 10% 24.2% 14.2% 10% 22%;
    gap: 3%;
    background-color: #F5F5F7;
    border-radius: 0.6rem;
    height: 100%;
    width: 100%;
    justify-content: space-around;

}
.courses-list__current-list__item-text{
    line-height: 1px;
    margin-top: 8px;;
}
.courses-list__current-list__item-text p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 1px;
    color: #000000;

}
.courses-list__current-list__item-text h4{
    font-family: 'Baloo Bhai 2';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1px;
    color: #000000;
    letter-spacing: 0;

}

.courses-list__current-list__item-img{
    background: #FFFFFF;
    border-radius: 12px;
    height: 60px;
    width: 64px;
    text-align: center;
    margin-top: 15%;
}
.courses-list__current-list__item-img img{
     height: 32px;
     position: center;
     margin-top: 20%;
 }
.courses-list__current-list__item-icon img{
    height: 16px;


}
.courses-list__current-list__item-icon {
    margin-top:30px;
    margin-right: 3px;
}


.button__course {
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0em;
    color: #FFFFFF;
    width: 7.5rem;
    height: 2.8rem;
    background-color: #000000;
    border-radius: 0.8rem;
    margin-top: 12%;
}
.button__course:hover{
    transform: scale(1);
    background-color: white;
    color: black;
    border: black solid;
}
.button__course:active{
    transform: scale(0.8);
    opacity: 0.9;
    background-color: white;
    color: black;
    border: black solid;
}

/*Right part of main*/

.user-statistic-coll{
    display: grid;
    grid-template-areas: "header"
                         "course-statistic"
                         "time-statistic"
                         "offer";
    grid-template-rows: 9% 11% 40% 22%;
    gap: 4%;
}
.header{
    display: grid;
    grid-template-columns: 75% 8% 14%;
    margin-top: 8%;
    align-items: stretch;
    justify-content: space-between;

}
.mobile{
    display: none;
}
.header__search input{

    max-width: 300px;
    width: 90%;
    height: 40px;
    background: url(../additional_files/img/search.png) no-repeat 5%,#f5f5f7;
    background-size: 8%;
    border: 0;
    border-radius: 8px;
    text-indent: 45px;
    outline: none;
}

.header__notification img{
    height: 36px;
    -webkit-animation: ring 4s .7s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 4s .7s ease-in-out infinite;
    -moz-transform-origin: 50% 4px;
    animation: ring 4s .7s ease-in-out infinite;
    transform-origin: 50% 4px;
    cursor: pointer;
}

@-webkit-keyframes ring {
    0% { -webkit-transform: rotateZ(0); }
    1% { -webkit-transform: rotateZ(30deg); }
    3% { -webkit-transform: rotateZ(-28deg); }
    5% { -webkit-transform: rotateZ(34deg); }
    7% { -webkit-transform: rotateZ(-32deg); }
    9% { -webkit-transform: rotateZ(30deg); }
    11% { -webkit-transform: rotateZ(-28deg); }
    13% { -webkit-transform: rotateZ(26deg); }
    15% { -webkit-transform: rotateZ(-24deg); }
    17% { -webkit-transform: rotateZ(22deg); }
    19% { -webkit-transform: rotateZ(-20deg); }
    21% { -webkit-transform: rotateZ(18deg); }
    23% { -webkit-transform: rotateZ(-16deg); }
    25% { -webkit-transform: rotateZ(14deg); }
    27% { -webkit-transform: rotateZ(-12deg); }
    29% { -webkit-transform: rotateZ(10deg); }
    31% { -webkit-transform: rotateZ(-8deg); }
    33% { -webkit-transform: rotateZ(6deg); }
    35% { -webkit-transform: rotateZ(-4deg); }
    37% { -webkit-transform: rotateZ(2deg); }
    39% { -webkit-transform: rotateZ(-1deg); }
    41% { -webkit-transform: rotateZ(1deg); }

    43% { -webkit-transform: rotateZ(0); }
    100% { -webkit-transform: rotateZ(0); }
}

@-moz-keyframes ring {
    0% { -moz-transform: rotate(0); }
    1% { -moz-transform: rotate(30deg); }
    3% { -moz-transform: rotate(-28deg); }
    5% { -moz-transform: rotate(34deg); }
    7% { -moz-transform: rotate(-32deg); }
    9% { -moz-transform: rotate(30deg); }
    11% { -moz-transform: rotate(-28deg); }
    13% { -moz-transform: rotate(26deg); }
    15% { -moz-transform: rotate(-24deg); }
    17% { -moz-transform: rotate(22deg); }
    19% { -moz-transform: rotate(-20deg); }
    21% { -moz-transform: rotate(18deg); }
    23% { -moz-transform: rotate(-16deg); }
    25% { -moz-transform: rotate(14deg); }
    27% { -moz-transform: rotate(-12deg); }
    29% { -moz-transform: rotate(10deg); }
    31% { -moz-transform: rotate(-8deg); }
    33% { -moz-transform: rotate(6deg); }
    35% { -moz-transform: rotate(-4deg); }
    37% { -moz-transform: rotate(2deg); }
    39% { -moz-transform: rotate(-1deg); }
    41% { -moz-transform: rotate(1deg); }

    43% { -moz-transform: rotate(0); }
    100% { -moz-transform: rotate(0); }
}

@keyframes ring {
    0% { transform: rotate(0); }
    1% { transform: rotate(30deg); }
    3% { transform: rotate(-28deg); }
    5% { transform: rotate(34deg); }
    7% { transform: rotate(-32deg); }
    9% { transform: rotate(30deg); }
    11% { transform: rotate(-28deg); }
    13% { transform: rotate(26deg); }
    15% { transform: rotate(-24deg); }
    17% { transform: rotate(22deg); }
    19% { transform: rotate(-20deg); }
    21% { transform: rotate(18deg); }
    23% { transform: rotate(-16deg); }
    25% { transform: rotate(14deg); }
    27% { transform: rotate(-12deg); }
    29% { transform: rotate(10deg); }
    31% { transform: rotate(-8deg); }
    33% { transform: rotate(6deg); }
    35% { transform: rotate(-4deg); }
    37% { transform: rotate(2deg); }
    39% { transform: rotate(-1deg); }
    41% { transform: rotate(1deg); }

    43% { transform: rotate(0); }
    100% { transform: rotate(0); }
}

.header__avatar{
    display: grid;
    grid-template-columns: 70% 20%;
}
.header__avatar img:first-child{
    width: 40px;
    height: 40px;

}
.header__avatar img:nth-child(2){
    width: 9px;
    margin-top: 16px;


}
.user-course-statistic{
    display: grid;
    grid-template-columns: 47% 47%;
    gap: 5%;
}
.user-course-statistic__completed{
    display: grid;
    grid-template-columns: 20% 30%;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: #F5F5F7;
    border-radius: 14px;
}
.user-course-statistic__completed span{
    font-family: 'Baloo Bhai 2';
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 80px;
    color: #000000;
}
.user-course-statistic__completed p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.user-course-statistic__progress span{
    font-family: 'Baloo Bhai 2';
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 80px;
    color: #000000;
}
.user-course-statistic__progress p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.user-course-statistic__progress{
    display: grid;
    grid-template-columns: 15% 39%;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: #F5F5F7;
    border-radius: 14px;
}
.user-time-statistic{
    display: grid;
    grid-template-rows: 10% 10% 70% ;
    gap: 3%;
}
.user-time-statistic h2{
    margin: 0;
}
.user-time-statistic__sorting{
    display: grid;
    grid-template-columns: 60% 1% 18% ;
    gap: 4%;
    justify-content: space-between;
    align-items: center;

}
.user-time-statistic__sorting-type ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;

}
select{
    height: 32px;
    width: 100%;
    max-width: 88px;
    border: 0;
    border-radius: 8px;
    padding: 0 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../additional_files/img/arrow-down.png) no-repeat 85%,#f5f5f7;
    background-size: 10%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 10px;
    color: #000000;
}

.user-time-statistic__graph img{
    width: 108%;
}

.offer{
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: space-around;
    align-items: center;
    background: #F5F5F7;
    border-radius: 14px;
}
.offer-text{
    margin: auto;
    width: 70%;

}
.offer-text p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.offer-button{
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0em;
    color: #FFFFFF;
    width: 7.5rem;
    height: 2.8rem;
    background-color: #000000;
    border-radius: 0.8rem;
    margin: 0 auto 5px auto;
}
.offer-button:hover{
    transform: scale(1);
    background-color: white;
    color: black;
    border: black solid;
}
.offer-button:active{
    transform: scale(0.8);
    opacity: 0.9;
    background-color: white;
    color: black;
    border: black solid;
}

.offer__imag img {
    width: 70%;
    margin: auto;
}

@media only screen and ( max-width: 767px){

    body {
        max-width: 767px;

        margin: 0;
        overflow: auto;
    }

    .container {
        min-height: 640px;
        display: grid;

        grid-template-columns:  minmax(80%, auto);
        gap: 2%;
        justify-content: space-around;

    }

    .sidebar {
        position: fixed;
        display: grid;
        grid-template-columns: 12% 85%;
        grid-template-rows: 100%;

        bottom: 95vh;
        height: 5vh;
        width: 100%;
        margin-left: -1em;
        z-index: 1;

    }


    .sidebar-nav {
        display: grid;
        grid-template-rows: 100% ;
        grid-template-columns: 60% 20%;
        gap: 30%;
        margin-top: 5%;
    }

    .sidebar-nav-general {
        display: grid;
        grid-template-columns: repeat(5 , 32%) ;
        grid-template-rows: 100%;
        grid-row-gap: 6%;

    }
    .header{
        display: grid;
        grid-template-columns: 75% 8% 14%;
        margin-top: 8%;
        align-items: stretch;
        justify-content: space-between;

    }
    .mobile{
        display: grid;
    }
    .desktop{
        display: none;
    }

    .main {
        grid-template-columns: 100%;
        grid-auto-rows: 10% 100% 100%;
        margin-top: 100px;
        overflow: auto;

    }
    .welcome-user__text{
        line-height: 30px;
        display: grid;
        grid-template-rows: 55% 30%;
    }
    .slider__current-course__first__text p,
    .courses-list__current-list__item-text p,
    .courses-list__current-list__item-text h4
    {
        line-height: 12px;
        margin: 0;
    }
    .welcome-user__img img {
        width: 180px;
        position: absolute;
        right: 2.5em;
        bottom: 0.1em;
    }

    .user-statistic-coll{
        display: grid;
        grid-template-areas:
                "course-statistic"
                "time-statistic"
                "offer";
        grid-template-rows: 11% 60% 22%;
        gap: 8%;
    }
    .user-time-statistic__graph img{
        width: 100%;
    }
    .offer__imag img{
        width: 50%;
        margin: auto;
    }



}

@media only screen and (min-width: 768px) and ( max-width: 991px) {

    body {
        max-width: 991px;
        min-height: 640px;
        margin: 5% 5% 5% 5%;
        overflow: auto;
    }

    .container {

        display: grid;

        grid-template-columns:  minmax(80%, auto);
        gap: 2%;
        justify-content: space-around;

    }

    .sidebar {
        position: fixed;
        display: grid;
        grid-template-columns: 12% 85%;
        grid-template-rows: 100%;

        top:-9vh;
        height: 5vh;
        width: 100%;
        margin-left: -1em;
        z-index: 1;

    }


    .sidebar-nav {
        display: grid;
        grid-template-rows: 100% ;
        grid-template-columns: 60% 20%;
        gap: 30%;
        margin-top: 5%;
    }

    .sidebar-nav-general {
        display: grid;
        grid-template-columns: repeat(5 , 32%) ;
        grid-template-rows: 100%;
        grid-row-gap: 6%;

    }
    .header{
        display: grid;
        grid-template-columns: 75% 8% 14%;
        margin-top: 8%;
        align-items: stretch;
        justify-content: space-between;

    }
    .mobile{
        display: grid;
    }
    .desktop{
        display: none;
    }

    .main {
        grid-template-columns: 100%;
        grid-auto-rows: 10% 100% 100%;
        margin-left: 5%;
        margin-top: 100px;
        overflow: auto;


    }

    .welcome-user__img img {
        width: 200px;
        position: absolute;
        right: 2.5em;
        bottom: 0.1em;
    }

    .user-statistic-coll{
        display: grid;
        grid-template-areas:
                "course-statistic"
                "time-statistic"
                "offer";
        grid-template-rows: 11% 60% 22%;
        gap: 8%;
    }
    .user-time-statistic__graph img{
        width: 100%;
    }
    .offer__imag img{
        width: 50%;
        margin: auto;
    }



}

@media only screen and ( max-width: 1439px ) and ( min-width: 992px) {
    body {
        max-width: 1439px;
        margin: 5%;
        overflow: auto;
    }

    .container {
        display: grid;

        grid-template-columns:  minmax(80%, auto);
        gap: 2%;
        justify-content: space-around;

    }

    .sidebar {
        position: fixed;
        margin-top: 30px;
        left: 2vh ;

        bottom: 0.5vw;
        height: 80vh;

    }

    .sidebar-nav {
    }

    .sidebar-nav-general {
    }
    .header{
        display: grid;
        grid-template-columns: 75% 8% 14%;
        margin-top: 8%;
        align-items: stretch;
        justify-content: space-between;

    }
    .mobile{
        display: grid;
    }
    .desktop{
        display: none;
    }

    .main {
        grid-template-columns: 100%;
        grid-auto-rows: 10% 100% 100%;
        margin-left: 15%;
        overflow: auto;
    }

    .welcome-user__img img {
        width: 200px;
        position: absolute;
        right: 2.5em;
        bottom: 0.1em;
    }

    .user-statistic-coll{
        display: grid;
        grid-template-areas:
        "course-statistic"
        "time-statistic"
        "offer";
        grid-template-rows: 11% 60% 22%;
        gap: 8%;
    }
    .user-time-statistic__graph img{
        width: 100%;
    }
    .offer__imag img{
        width: 50%;
        margin: auto;
    }



}

@media only screen and (min-width: 1450px) {
    body {
        max-height: 1200px;
        max-width: 1900px;

    }

    .container {
        display: grid;
        grid-template-areas: "aside main";
        grid-template-columns: minmax(150px, 23%) minmax(83%, auto);
        gap: 10%;
        justify-content: space-around;
        margin: 2%;
    }

    .sidebar {
        width: 100%;
    }

    .sidebar-nav {
    }

    .sidebar-nav-general {
    }

    .main {
        display: grid;
        grid-template-columns: 52% 40%;
        grid-column-gap: 8%;
        max-height: 100vh;
        overflow: auto;
    }

    .courses {
    }


    .welcome-user__img img {
        width: 200px;
        position: absolute;
        right: 2.5em;
        bottom: 0.1em;
    }

    .slider__current-course__first {
    }
}















